DirectoryIndex index.php
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^api/uploads/(.*)$ backend/public/uploads/$1 [L]
RewriteRule ^uploads/(.*)$ backend/public/uploads/$1 [L]
RewriteRule ^admin/assets/(.*)$ admin/public/assets/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
