APP_BASE_URL=https://demoabhishek.ifree.page
DB_HOST=sql312.infinityfree.com
DB_PORT=3306
DB_NAME=if0_43051926_rawfitness
DB_USER=if0_43051926
DB_PASS=

JWT_SECRET=change-me-in-production

APITXT_BASE_URL=
APITXT_API_KEY=
APITXT_SENDER=RAWFIT

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
